pytest
selenium

## по сути это если локально: 
## pip install pytest
## pip install selenium
## git init
## pip freeze > requirements.txt 

## и чтобы каждый кто скачает все работало, сможет установить зависимости одной командочкой - pip install -r requirements.txt
## а если вспоминать как я делал в самоый первы йраз(еще в общем репозитории), то локально это будет выглядеть как-то так, если не ошибаюсь:

## git init
## pip freeze > requirements.txt
## /venv
## .idea
##*.pytest_cache

## Но в любом случае файл добавлен как и просили.
